:root {
  --color__h1: var(--color-2-1);
  --color__h2: var(--color-2-1);
  --color__h3: var(--color-2-1);
  --color__h4: var(--color-2-1);
  --color__h5: var(--color-2-1);
  --color__h6: var(--color-2-1);
  --color__s1: var(--color-2-1);
  --color__s2: var(--color-2-1);
  --color__p1: var(--color-2-1);
  --color__p2: var(--color-0-4);
  --color__cp: var(--color-2-1);
  --color__bt: var(--color-2-1);
  --color__ov: var(--color-2-1);
  --color__h1_inverse: var();
  --color__h2_inverse: var();
  --color__h3_inverse: var();
  --color__h4_inverse: var();
  --color__h5_inverse: var();
  --color__h6_inverse: var();
  --color__s1_inverse: var();
  --color__s2_inverse: var();
  --color__p1_inverse: var();
  --color__p2_inverse: var();
  --color__ct_inverse: var();
  --color__bt_inverse: var();
  --color__ov_inverse: var();
}

.h1 {
  color: var(--color__h1);
}
.h1.inverse {
  color: var(--color__h1_inverse);
}

.h2 {
  color: var(--color__h2);
}
.h2.inverse {
  color: var(--color__h2_inverse);
}

.h3 {
  color: var(--color__h3);
}
.h3.inverse {
  color: var(--color__h3_inverse);
}

.h4 {
  color: var(--color__h4);
}
.h4.inverse {
  color: var(--color__h4_inverse);
}

.h6 {
  color: var(--color__h6);
  opacity: 30%;
}
.h6.inverse {
  color: var(--color__h6_inverse);
}

.p1 {
  color: var(--color__p1);
}
.p1.inverse {
  color: var(--color__p1_inverse);
}

.p2 {
  color: var(--color__p2);
}
.p2.inverse {
  color: var(--color__p2_inverse);
}

:root {
  --button--size: 3em;
  --icon--size: 1.5em;
  --icon--margin: 0.5em;
  --button--font-size: 16rem;
  --button--font-size_big: 16rem;
  --button--font-size_medium: 14rem;
  --button--font-size_small: 10rem;
  --button--font-family: "Noto", system-ui;
  --button--line-height: -150%;
  --button--font-weight: 600;
  --button--animation__duration: 0.1s;
  --button--animation__time-type: ease-in-out;
  --button--padding: 1.2em;
  --button--border-radius: 0.5em;
  --button-fill--font__color_hover: var(--color-2-0);
  --button-fill--font__color: var(--color-2-1);
  --button-fill--font__color_pressed: var(--color-2-1);
  --button-fill--font__color_disabled: var(--color-2-3);
  --button-fill--bg__color_hover: var(--color-1-0);
  --button-fill--bg__color: var(--color-1-1);
  --button-fill--bg__color_pressed: var(--color-1-2);
  --button-fill--bg__color_disabled: var(--color-1-3);
  --button-fill--border__color_hover: transparent;
  --button-fill--border__color: transparent;
  --button-fill--border__color_pressed: transparent;
  --button-fill--border__color_disabled: transparent;
  --button-fill--border__width: 2px;
  --button-fill--icon__color_hover: var(--button-fill--font__color_hover);
  --button-fill--icon__color: var(--button-fill--font__color);
  --button-fill--icon__color_pressed: var(--button-fill--font__color_pressed);
  --button-fill--icon__color_disabled: var(--button-fill--font__color_disabled);
  --button-outline--font__color_hover: var(--color-2-0);
  --button-outline--font__color: var(--color-2-1);
  --button-outline--font__color_pressed: var(--color-2-2);
  --button-outline--font__color_disabled: var(--color-2-3);
  --button-outline--bg__color_hover: none;
  --button-outline--bg__color: none;
  --button-outline--bg__color_pressed: none;
  --button-outline--bg__color_disabled: none;
  --button-outline--border__color_hover: var(--color-1-0);
  --button-outline--border__color: var(--color-1-1);
  --button-outline--border__color_pressed: var(--color-1-2);
  --button-outline--border__color_disabled: var(--color-1-3);
  --button-outline--border__width: 2px;
  --button-outline--icon__color_hover: var(--button-outline--font__color_hover);
  --button-outline--icon__color: var(--button-outline--font__color);
  --button-outline--icon__color_pressed: var(--button-outline--font__color_pressed);
  --button-outline--icon__color_disabled: var(--button-outline--font__color_disabled);
  --button-text--font__color_hover: var(--color-2-0);
  --button-text--font__color: var(--color-2-1);
  --button-text--font__color_pressed: var(--color-2-2);
  --button-text--font__color_disabled: var(--color-2-3);
  --button-text--bg__color_hover: none;
  --button-text--bg__color: none;
  --button-text--bg__color_pressed: var(--color-1-3);
  --button-text--bg__color_disabled: none;
  --button-text--border__color_hover: transparent;
  --button-text--border__color: transparent;
  --button-text--border__color_pressed: transparent;
  --button-text--border__color_disabled: transparent;
  --button-text--border__width: 2px;
  --button-text--icon__color_hover: var(--button-text--font__color_hover);
  --button-text--icon__color: var(--button-text--font__color);
  --button-text--icon__color_pressed: var(--button-text--font__color_pressed);
  --button-text--icon__color_disabled: var(--button-text--font__color_disabled);
  --button-icon--font__color_hover: var(--color-2-0);
  --button-icon--font__color: var(--color-2-1);
  --button-icon--font__color_pressed: var(--color-2-2);
  --button-icon--font__color_disabled: var(--color-2-3);
  --button-icon--bg__color_hover: none;
  --button-icon--bg__color: none;
  --button-icon--bg__color_pressed: var(--color-1-3);
  --button-icon--bg__color_disabled: none;
  --button-icon--border__color_hover: transparent;
  --button-icon--border__color: transparent;
  --button-icon--border__color_pressed: transparent;
  --button-icon--border__color_disabled: transparent;
  --button-icon--border__width: 2px;
  --button-icon--icon__color_hover: var(--button-icon--font__color_hover);
  --button-icon--icon__color: var(--button-icon--font__color);
  --button-icon--icon__color_pressed: var(--button-icon--font__color_pressed);
  --button-icon--icon__color_disabled: var(--button-icon--font__color_disabled);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: solid;
  font-size: var(--button--font-size);
  height: var(--button--size);
  padding: 0 var(--button--padding);
  border-radius: var(--button--border-radius);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button .label {
  font-family: var(--button--font-family);
  line-height: var(--button--line-height);
  font-weight: var(--button--font-weight);
}
.button__big {
  font-size: var(--button--font-size_big);
}
.button__medium {
  font-size: var(--button--font-size_medium);
}
.button__small {
  font-size: var(--button--font-size_small);
}
.button__fill {
  background: var(--button-fill--bg__color);
  border-width: var(--button-fill--border__width);
  border-color: var(--button-fill--border__color);
}
.button__fill .label {
  color: var(--button-fill--font__color);
}
.button__fill .icon {
  background-color: var(--button-fill--icon__color);
}
@media (hover: hover) {
  .button__fill:hover {
    color: var(--button-fill--font__color_hover);
    -webkit-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    -o-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    transition: all var(--button--animation__duration) var(--button--animation__time-type);
    background: var(--button-fill--bg__color_hover);
    border-color: var(--button-fill--border__color_hover);
  }
  .button__fill:hover .label {
    color: var(--button-fill--font__color_hover);
    -webkit-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    -o-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    transition: all var(--button--animation__duration) var(--button--animation__time-type);
  }
  .button__fill:hover .icon {
    background-color: var(--button-fill--icon__color_hover);
    -webkit-mask-image: url("./../../assets/svg/image-24.svg");
            mask-image: url("./../../assets/svg/image-24.svg");
    -webkit-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    -o-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    transition: all var(--button--animation__duration) var(--button--animation__time-type);
  }
}
.button__fill:active {
  color: var(--button-fill--font__color_pressed);
  background: var(--button-fill--bg__color_pressed);
  border-color: var(--button-fill--border__color_pressed);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.button__fill:active .label {
  color: var(--button-fill--font__color_pressed);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.button__fill:active .icon {
  background-color: var(--button-fill--icon__color_pressed);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.button__fill:disabled, .button__fill[disabled] {
  color: var(--button-fill--font__color_disabled);
  background: var(--button-fill--bg__color_disabled);
  border-color: var(--button-fill--border__color_disabled);
  cursor: not-allowed;
  pointer-events: none;
}
.button__fill:disabled .label, .button__fill[disabled] .label {
  color: var(--button-fill--font__color_disabled);
}
.button__fill:disabled .icon, .button__fill[disabled] .icon {
  background-color: var(--button-fill--icon__color_disabled);
}
.button__outline {
  background: var(--button-outline--bg__color);
  border-width: var(--button-outline--border__width);
  border-color: var(--button-outline--border__color);
}
.button__outline .label {
  color: var(--button-outline--font__color);
}
.button__outline .icon {
  background-color: var(--button-outline--icon__color);
}
@media (hover: hover) {
  .button__outline:hover {
    color: var(--button-outline--font__color_hover);
    -webkit-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    -o-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    transition: all var(--button--animation__duration) var(--button--animation__time-type);
    background: var(--button-outline--bg__color_hover);
    border-color: var(--button-outline--border__color_hover);
  }
  .button__outline:hover .label {
    color: var(--button-outline--font__color_hover);
    -webkit-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    -o-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    transition: all var(--button--animation__duration) var(--button--animation__time-type);
  }
  .button__outline:hover .icon {
    background-color: var(--button-outline--icon__color_hover);
    -webkit-mask-image: url("./../../assets/svg/image-24.svg");
            mask-image: url("./../../assets/svg/image-24.svg");
    -webkit-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    -o-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    transition: all var(--button--animation__duration) var(--button--animation__time-type);
  }
}
.button__outline:active {
  color: var(--button-outline--font__color_pressed);
  background: var(--button-outline--bg__color_pressed);
  border-color: var(--button-outline--border__color_pressed);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.button__outline:active .label {
  color: var(--button-outline--font__color_pressed);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.button__outline:active .icon {
  background-color: var(--button-outline--icon__color_pressed);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.button__outline:disabled, .button__outline[disabled] {
  color: var(--button-outline--font__color_disabled);
  background: var(--button-outline--bg__color_disabled);
  border-color: var(--button-outline--border__color_disabled);
  cursor: not-allowed;
  pointer-events: none;
}
.button__outline:disabled .label, .button__outline[disabled] .label {
  color: var(--button-outline--font__color_disabled);
}
.button__outline:disabled .icon, .button__outline[disabled] .icon {
  background-color: var(--button-outline--icon__color_disabled);
}
.button__text {
  background: var(--button-text--bg__color);
  border-width: var(--button-text--border__width);
  border-color: var(--button-text--border__color);
}
.button__text .label {
  color: var(--button-text--font__color);
}
.button__text .icon {
  background-color: var(--button-text--icon__color);
}
@media (hover: hover) {
  .button__text:hover {
    color: var(--button-text--font__color_hover);
    -webkit-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    -o-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    transition: all var(--button--animation__duration) var(--button--animation__time-type);
    background: var(--button-text--bg__color_hover);
    border-color: var(--button-text--border__color_hover);
  }
  .button__text:hover .label {
    color: var(--button-text--font__color_hover);
    -webkit-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    -o-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    transition: all var(--button--animation__duration) var(--button--animation__time-type);
  }
  .button__text:hover .icon {
    background-color: var(--button-text--icon__color_hover);
    -webkit-mask-image: url("./../../assets/svg/image-24.svg");
            mask-image: url("./../../assets/svg/image-24.svg");
    -webkit-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    -o-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    transition: all var(--button--animation__duration) var(--button--animation__time-type);
  }
}
.button__text:active {
  color: var(--button-text--font__color_pressed);
  background: var(--button-text--bg__color_pressed);
  border-color: var(--button-text--border__color_pressed);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.button__text:active .label {
  color: var(--button-text--font__color_pressed);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.button__text:active .icon {
  background-color: var(--button-text--icon__color_pressed);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.button__text:disabled, .button__text[disabled] {
  color: var(--button-text--font__color_disabled);
  background: var(--button-text--bg__color_disabled);
  border-color: var(--button-text--border__color_disabled);
  cursor: not-allowed;
  pointer-events: none;
}
.button__text:disabled .label, .button__text[disabled] .label {
  color: var(--button-text--font__color_disabled);
}
.button__text:disabled .icon, .button__text[disabled] .icon {
  background-color: var(--button-text--icon__color_disabled);
}
.button__text .label {
  text-decoration: underline;
  text-decoration-thickness: var(--button-text--border__width);
}
.button .icon {
  -webkit-mask-image: url("./../../assets/svg/image-24.svg");
          mask-image: url("./../../assets/svg/image-24.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  width: var(--icon--size);
  height: var(--icon--size);
  -webkit-mask-size: cover;
          mask-size: cover;
}
.button .icon__left {
  margin-right: var(--icon--margin);
}
.button .icon__right {
  margin-left: var(--icon--margin);
}
.button__icon {
  background: var(--button-icon--bg__color);
  border-width: var(--button-icon--border__width);
  border-color: var(--button-icon--border__color);
  padding: 0 0;
}
.button__icon .label {
  color: var(--button-icon--font__color);
}
.button__icon .icon {
  background-color: var(--button-icon--icon__color);
}
@media (hover: hover) {
  .button__icon:hover {
    color: var(--button-icon--font__color_hover);
    -webkit-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    -o-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    transition: all var(--button--animation__duration) var(--button--animation__time-type);
    background: var(--button-icon--bg__color_hover);
    border-color: var(--button-icon--border__color_hover);
  }
  .button__icon:hover .label {
    color: var(--button-icon--font__color_hover);
    -webkit-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    -o-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    transition: all var(--button--animation__duration) var(--button--animation__time-type);
  }
  .button__icon:hover .icon {
    background-color: var(--button-icon--icon__color_hover);
    -webkit-mask-image: url("./../../assets/svg/image-24.svg");
            mask-image: url("./../../assets/svg/image-24.svg");
    -webkit-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    -o-transition: all var(--button--animation__duration) var(--button--animation__time-type);
    transition: all var(--button--animation__duration) var(--button--animation__time-type);
  }
}
.button__icon:active {
  color: var(--button-icon--font__color_pressed);
  background: var(--button-icon--bg__color_pressed);
  border-color: var(--button-icon--border__color_pressed);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.button__icon:active .label {
  color: var(--button-icon--font__color_pressed);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.button__icon:active .icon {
  background-color: var(--button-icon--icon__color_pressed);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.button__icon:disabled, .button__icon[disabled] {
  color: var(--button-icon--font__color_disabled);
  background: var(--button-icon--bg__color_disabled);
  border-color: var(--button-icon--border__color_disabled);
  cursor: not-allowed;
  pointer-events: none;
}
.button__icon:disabled .label, .button__icon[disabled] .label {
  color: var(--button-icon--font__color_disabled);
}
.button__icon:disabled .icon, .button__icon[disabled] .icon {
  background-color: var(--button-icon--icon__color_disabled);
}
.button__icon.button {
  width: var(--button--size);
}

:root {
  --popup--padding__outer: var(--spacing-5);
  --popup--padding__inner: var(--spacing-3);
  --popup--border-radius: var(--radius-3);
  --popup--color__bg: var(--color-0-2);
  --popup--animation__duration: var(--time-3);
  --popup--animation__time-type: var(--animation-bz-1);
  --popup--animation__delay: var(--time-1);
  --popup--z-index: var(--z-index-top);
}

.popup-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90%;
  z-index: var(--popup--z-index);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: var(--popup--padding__outer);
  border-radius: var(--popup--border-radius);
  background-color: var(--popup--color__bg);
  opacity: 0%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity var(--popup--animation__duration) var(--popup--animation__delay), -webkit-transform var(--popup--animation__duration) var(--popup--animation__time-type);
  transition: opacity var(--popup--animation__duration) var(--popup--animation__delay), -webkit-transform var(--popup--animation__duration) var(--popup--animation__time-type);
  -o-transition: transform var(--popup--animation__duration) var(--popup--animation__time-type), opacity var(--popup--animation__duration) var(--popup--animation__delay);
  transition: transform var(--popup--animation__duration) var(--popup--animation__time-type), opacity var(--popup--animation__duration) var(--popup--animation__delay);
  transition: transform var(--popup--animation__duration) var(--popup--animation__time-type), opacity var(--popup--animation__duration) var(--popup--animation__delay), -webkit-transform var(--popup--animation__duration) var(--popup--animation__time-type);
}
.popup.show {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 100%;
}
.popup__title {
  padding-bottom: 18px;
}
.popup__text {
  padding-bottom: 24px;
}

:root {
  --menu-list--padding__outer: var(--spacing-5);
  --menu-list--padding__inner: var(--spacing-3);
  --menu-list--gap: var(--spacing-3);
  --menu-list--color__bg: var(--color-0-2);
  --menu-list--color: var(--color-2-0);
  --menu-list--color_hover: var(--color-2-2);
  --menu-list--animation__duration: var(--time-3);
  --menu-list--animation__time-type: var(--animation-3);
  --menu-list--animation__delay: var(--time-1);
  --menu-list--z-index: var(--z-index-4);
}

.menu-list {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: var(--menu-list--z-index);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: min(100%, 100vh);
  padding: var(--menu-list--padding__outer);
  overflow: hidden;
  background-color: var(--menu-list--color__bg);
  opacity: 0%;
  -webkit-transition: right var(--menu-list--animation__duration) var(--menu-list--animation__time-type), opacity var(--menu-list--animation__duration) var(--menu-list--animation__delay);
  -o-transition: right var(--menu-list--animation__duration) var(--menu-list--animation__time-type), opacity var(--menu-list--animation__duration) var(--menu-list--animation__delay);
  transition: right var(--menu-list--animation__duration) var(--menu-list--animation__time-type), opacity var(--menu-list--animation__duration) var(--menu-list--animation__delay);
}
@media (max-width: 480px) {
  .menu-list {
    padding: 16px;
  }
}
.menu-list.show {
  right: 0%;
  opacity: 100%;
}
.menu-list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 16px;
  margin-right: calc(10% - var(--spacing-2));
  width: min(80%, 500px);
  height: calc(100% - 36px);
}
@media (max-width: 480px) {
  .menu-list__container {
    margin: 0 auto;
    width: min(100%, 500px);
  }
}
.menu-list__title {
  margin-bottom: 16px;
}
.menu-list__items-container {
  padding-right: var(--spacing-5);
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--menu-list--gap);
  overflow: auto;
}
.menu-list__items-container__item {
  color: var(--menu-list--color);
  cursor: pointer;
}
@media (hover: hover) {
  .menu-list__items-container__item:hover {
    -webkit-transition: all var(--menu-list--animation__duration) var(--menu-list--animation__time-type);
    -o-transition: all var(--menu-list--animation__duration) var(--menu-list--animation__time-type);
    transition: all var(--menu-list--animation__duration) var(--menu-list--animation__time-type);
    color: var(--menu-list--color_hover);
  }
}
.menu-list .search {
  height: 32px;
  border-radius: 1000px;
  width: 80%;
  padding: 4px 8px;
}

:root {
  --list-item--color: var(--color-2-0);
  --list-item--color_hover: var(--color-2-2);
  --list-item--animation__duration: var(--time-2);
  --list-item--animation__time-type: var(--animation-3);
  --list-item--animation__delay: var(--time-1);
}

.list-item {
  color: var(--list-item--color);
  cursor: pointer;
}
@media (hover: hover) {
  .list-item:hover {
    -webkit-transition: all var(--list-item--animation__duration) var(--list-item--animation__time-type);
    -o-transition: all var(--list-item--animation__duration) var(--list-item--animation__time-type);
    transition: all var(--list-item--animation__duration) var(--list-item--animation__time-type);
    color: var(--list-item--color_hover);
  }
}

:root {
  --icon--color: var(--color-2-0);
  --icon--color_hover: var(--color-2-2);
  --icon--animation__duration: var(--time-2);
  --icon--animation__time-type: var(--animation-3);
  --icon--animation__delay: var(--time-1);
}

.icon {
  height: 48px;
  width: 48px;
  background-color: var(--icon--color);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media (hover: hover) {
  .icon:hover {
    -webkit-transition: all var(--icon--animation__duration) var(--icon--animation__time-type);
    -o-transition: all var(--icon--animation__duration) var(--icon--animation__time-type);
    transition: all var(--icon--animation__duration) var(--icon--animation__time-type);
    background-color: var(--icon--color_hover);
  }
}