@font-face {
  font-family: "Noto";
  src: url("../../assets/fonts/Noto/static/NotoSansMono/NotoSansMono-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Noto";
  src: url("../../assets/fonts/Noto/static/NotoSansMono/NotoSansMono-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Noto";
  src: url("../../assets/fonts/Noto/static/NotoSansMono/NotoSansMono-Light.ttf");
  font-weight: 300;
}
:root {
  --font-family__prime: "Yeseva One", serif;
  --font-family__secondary: "Noto", sans-serif;
  --font-weight__bold: 700;
  --font-weight__regular: 400;
  --font-weight__light: 300;
  --font__font-family_h1: var(--font-family__prime);
  --font__font-size_h1: 72px;
  --font__font-weight_h1: var(--font-weight__regular);
  --font__line-height_h1: 150%;
  --font__font-family_h2: var(--font-family__prime);
  --font__font-size_h2: 48px;
  --font__font-weight_h2: var(--font-weight__bold);
  --font__line-height_h2: 150%;
  --font__font-family_h3: var(--font-family__prime);
  --font__font-size_h3: 36px;
  --font__font-weight_h3: var(--font-weight__bold);
  --font__line-height_h3: 150%;
  --font__font-family_h4: var(--font-family__prime);
  --font__font-size_h4: 24px;
  --font__font-weight_h4: var(--font-weight__bold);
  --font__line-height_h4: 150%;
  --font__font-family_h6: var(--font-family__secondary);
  --font__font-size_h6: 16px;
  --font__font-weight_h6: var(--font-weight__regular);
  --font__line-height_h6: 150%;
  --font__font-family_p1: var(--font-family__secondary);
  --font__font-size_p1: 16px;
  --font__font-weight_p1: var(--font-weight__regular);
  --font__line-height_p1: 150%;
  --font__font-family_p2: var(--font-family__secondary);
  --font__font-size_p2: 14px;
  --font__font-weight_p2: var(--font-weight__light);
  --font__line-height_p2: 150%;
  --font__font-family_bt: var(--font-family__secondary);
  --font__font-size_bt: 16px;
  --font__font-weight_bt: var(--font-weight__regular);
  --font__line-height_bt: 150%;
}

.h1 {
  font-family: var(--font__font-family_h1);
  font-size: var(--font__font-size_h1);
  line-height: var(--font__line-height_h1);
  font-weight: var(--font__font-weight_h1);
}

.h2 {
  font-family: var(--font__font-family_h2);
  font-size: var(--font__font-size_h2);
  line-height: var(--font__line-height_h2);
  font-weight: var(--font__font-weight_h2);
}

.h3 {
  font-family: var(--font__font-family_h3);
  font-size: var(--font__font-size_h3);
  line-height: var(--font__line-height_h3);
  font-weight: var(--font__font-weight_h3);
}

.h4 {
  font-family: var(--font__font-family_h4);
  font-size: var(--font__font-size_h4);
  line-height: var(--font__line-height_h4);
  font-weight: var(--font__font-weight_h4);
}

.h6 {
  font-family: var(--font__font-family_h6);
  font-size: var(--font__font-size_h6);
  line-height: var(--font__line-height_h6);
  font-weight: var(--font__font-weight_h6);
}

.p1 {
  font-family: var(--font__font-family_p1);
  font-size: var(--font__font-size_p1);
  line-height: var(--font__line-height_p1);
  font-weight: var(--font__font-weight_p1);
}

.p2 {
  font-family: var(--font__font-family_p2);
  font-size: var(--font__font-size_p2);
  line-height: var(--font__line-height_p2);
  font-weight: var(--font__font-weight_p2);
}

.button {
  font-family: var(--font__font-family_bt);
  font-size: var(--font__font-size_bt);
  line-height: var(--font__line-height_bt);
  font-weight: var(--font__font-weight_bt);
}