// Change this icons
$icon__url: url("./../../assets/svg/image-24.svg");
$icon__url_hover: url("./../../assets/svg/image-24.svg");
$icon--scale__big: 1;
$icon--scale__medium: 0.875;
$icon--scale__small: 0.625;

:root {
    // TODO: Get styles from global styles css file
    --button--size: 3em;

    --icon--size: 1.5em;
    --icon--margin: 0.5em;

    --button--font-size: 16rem;
    --button--font-size_big: 16rem;
    --button--font-size_medium: 14rem;
    --button--font-size_small: 10rem;

    --button--font-family: "Noto", system-ui;
    --button--line-height: -150%;
    --button--font-weight: 600;

    --button--animation__duration: 0.1s;
    --button--animation__time-type: ease-in-out;

    --button--padding: 1.2em;
    --button--border-radius: 0.5em; // font size / 0.5

    // ^------------------------ Button Fill ------------------------

    --button-fill--font__color_hover:        var(--color-2-0);
    --button-fill--font__color:              var(--color-2-1);
    --button-fill--font__color_pressed:      var(--color-2-1);
    --button-fill--font__color_disabled:     var(--color-2-3);

    --button-fill--bg__color_hover:          var(--color-1-0);
    --button-fill--bg__color:                var(--color-1-1);
    --button-fill--bg__color_pressed:        var(--color-1-2);
    --button-fill--bg__color_disabled:       var(--color-1-3);

    // TODO: refactor code for more button style
    // button-fill--bg_normal:   var();
    // button-fill--bg_active:   var();
    // button-fill--bg_focus:    var();
    // button-fill--bg_disabled: var();
    // button-fill--bg_loading:  var();

    --button-fill--border__color_hover:      transparent;
    --button-fill--border__color:            transparent;
    --button-fill--border__color_pressed:    transparent;
    --button-fill--border__color_disabled:   transparent;
    --button-fill--border__width:            2px;

    --button-fill--icon__color_hover:        var(--button-fill--font__color_hover);
    --button-fill--icon__color:              var(--button-fill--font__color);
    --button-fill--icon__color_pressed:      var(--button-fill--font__color_pressed);
    --button-fill--icon__color_disabled:     var(--button-fill--font__color_disabled);



    // ^------------------------ Button Border ------------------------

    --button-outline--font__color_hover:      var(--color-2-0);
    --button-outline--font__color:            var(--color-2-1);
    --button-outline--font__color_pressed:    var(--color-2-2);
    --button-outline--font__color_disabled:   var(--color-2-3);

    --button-outline--bg__color_hover:        none;
    --button-outline--bg__color:              none;
    --button-outline--bg__color_pressed:      none;
    --button-outline--bg__color_disabled:     none;

    --button-outline--border__color_hover:    var(--color-1-0);
    --button-outline--border__color:          var(--color-1-1);
    --button-outline--border__color_pressed:  var(--color-1-2);
    --button-outline--border__color_disabled: var(--color-1-3);
    --button-outline--border__width:          2px;

    --button-outline--icon__color_hover:      var(--button-outline--font__color_hover);
    --button-outline--icon__color:            var(--button-outline--font__color);
    --button-outline--icon__color_pressed:    var(--button-outline--font__color_pressed);
    --button-outline--icon__color_disabled:   var(--button-outline--font__color_disabled);

    // ^------------------------ Button Text ------------------------

    --button-text--font__color_hover:       var(--color-2-0);
    --button-text--font__color:             var(--color-2-1);
    --button-text--font__color_pressed:     var(--color-2-2);
    --button-text--font__color_disabled:    var(--color-2-3);

    --button-text--bg__color_hover:         none;
    --button-text--bg__color:               none;
    --button-text--bg__color_pressed:       var(--color-1-3);
    --button-text--bg__color_disabled:      none;

    --button-text--border__color_hover:     transparent;
    --button-text--border__color:           transparent;
    --button-text--border__color_pressed:   transparent;
    --button-text--border__color_disabled:  transparent;
    --button-text--border__width:           2px;

    --button-text--icon__color_hover:       var(--button-text--font__color_hover);
    --button-text--icon__color:             var(--button-text--font__color);
    --button-text--icon__color_pressed:     var(--button-text--font__color_pressed);
    --button-text--icon__color_disabled:    var(--button-text--font__color_disabled);


    // ^------------------------ Button Icon ------------------------

    --button-icon--font__color_hover:       var(--color-2-0);
    --button-icon--font__color:             var(--color-2-1);
    --button-icon--font__color_pressed:     var(--color-2-2);
    --button-icon--font__color_disabled:    var(--color-2-3);

    --button-icon--bg__color_hover:         none;
    --button-icon--bg__color:               none;
    --button-icon--bg__color_pressed:       var(--color-1-3);
    --button-icon--bg__color_disabled:      none;

    --button-icon--border__color_hover:     transparent;
    --button-icon--border__color:           transparent;
    --button-icon--border__color_pressed:   transparent;
    --button-icon--border__color_disabled:  transparent;
    --button-icon--border__width:           2px;

    --button-icon--icon__color_hover:       var(--button-icon--font__color_hover);
    --button-icon--icon__color:             var(--button-icon--font__color);
    --button-icon--icon__color_pressed:     var(--button-icon--font__color_pressed);
    --button-icon--icon__color_disabled:    var(--button-icon--font__color_disabled);

}
