:root { // dark theme

    --color-0-0: rgb(10, 10, 10);
    --color-0-1: rgb(15, 15, 15);
    --color-0-2: rgb(25, 25, 25);
    --color-0-3: rgb(40, 40, 40);
    --color-0-4: rgb(80, 80, 80);

    --color-1-0: rgb(0, 107, 140);
    --color-1-1: rgb(0, 145, 190);
    --color-1-2: rgb(34, 183, 229);

    --color-2-0: rgb(207, 207, 207);
    --color-2-1: rgb(245, 245, 245);
    --color-2-2: rgb(255, 255, 255);

    --color-3-0: rgb(255, 153, 0);
    --color-3-1: rgb(255, 214, 0);
    --color-3-2: rgb(255, 226, 77);
}
